<button class="btn btn-primary" (click)="showAddTask = true">
  Add new task
</button>
<clr-datagrid>
  <clr-dg-column [clrDgField]="'taskNo'" [clrDgColType]="'number'">
    Issue No
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'title'">Title</clr-dg-column>
  <clr-dg-column [clrDgField]="'description'">Description</clr-dg-column>
  <clr-dg-column [clrDgField]="'priority'">Priority</clr-dg-column>
  <clr-dg-column [clrDgField]="'due'">Due</clr-dg-column>

  <clr-dg-row *clrDgItems="let task of tasks">
    <clr-dg-action-overflow>
      <button class="action-item" (click)="selectedTask = task">Resolve</button>
    </clr-dg-action-overflow>
    <clr-dg-cell>{{ task.taskNo }}</clr-dg-cell>
    <clr-dg-cell>{{ task.title }}</clr-dg-cell>
    <clr-dg-cell>{{ task.description }}</clr-dg-cell>
    <clr-dg-cell>
      <span class="label" [class.label-danger]="task.priority === 'high'">{{
        task.priority
      }}</span>
    </clr-dg-cell>
    <clr-dg-cell>{{ task.due }}</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>{{ tasks.length }} tasks</clr-dg-footer>
</clr-datagrid>
<app-task-reporter
  *ngIf="showAddTask"
  [showAddTask]="showAddTask"
  (confirm)="onConfirm($event)"
></app-task-reporter>
