<clr-modal [clrModalOpen]="showAddTask === true" [clrModalClosable]="false">
  <div class="modal-title">
    <h3>Create a task</h3>
  </div>
  <div class="modal-body">
    <form
      clrForm
      *ngIf="taskForm"
      [formGroup]="taskForm"
      (ngSubmit)="addTask()"
    >
      <clr-input-container>
        <label>Title</label>
        <input clrInput formControlName="title" />
        <clr-control-error>Title is required</clr-control-error>
      </clr-input-container>
      <clr-textarea-container>
        <label>Description</label>
        <textarea clrTextarea formControlName="description"></textarea>
      </clr-textarea-container>
      <clr-radio-container clrInline>
        <label>Priority</label>
        <clr-radio-wrapper>
          <input type="radio" value="Low" clrRadio formControlName="priority" />
          <label>Low</label>
        </clr-radio-wrapper>
        <clr-radio-wrapper>
          <input
            type="radio"
            value="Medium"
            clrRadio
            formControlName="priority"
          />
          <label>Medium</label>
        </clr-radio-wrapper>
        <clr-radio-wrapper>
          <input
            type="radio"
            value="High"
            clrRadio
            formControlName="priority"
          />
          <label>High</label>
        </clr-radio-wrapper>
        <clr-control-error>Priority is required</clr-control-error>
      </clr-radio-container>
      <button class="btn btn-primary" type="submit">Create</button>
      <button
        type="button"
        class="btn btn-outline"
        (click)="confirm.emit(false)"
      >
        Cancel
      </button>
    </form>
  </div>
  <div class="modal-footer"></div>
</clr-modal>
